{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 10"]
                }
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": ["transform-object-rest-spread", "transform-runtime"],
    "env": {
        "test": {
            "presets": ["es2015"],
            "plugins": [
                "transform-es2015-modules-commonjs",
                "transform-class-properties"
            ]
        }
    }
}
